/* ─── Gallery Page ─── */

.gallery-item {
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #F4F4F4;
}

.gallery-item_img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: contain;
  background-color: #F4F4F4;
}
